apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: customers
  labels:
    strimzi.io/cluster: "kafka-dev-cluster"
spec:
  partitions: 3
  replicas: 1
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: transactions
  labels:
    strimzi.io/cluster: "kafka-dev-cluster"
spec:
  partitions: 3
  replicas: 1